{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<style>
    .club {text-align:center; }
</style>

<div class="club">
    <h1>Club Esprit</h1>
    <p>club esprit </p>
    <img src="shopping.jpg"/>

</div>
{% endblock %}
